@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #04439b;
}
.wrapper {
  width: 420px;
  background-color: #fff;
  border-radius: 7px;
  padding: 28px 28px 45px;
}

.wrapper.active .unlist {
  display: block;
  height: 303px;
  opacity: 1;
}
.unlist .content {
  max-height: 215px;
  overflow-y: auto;
}
.unlist .content::-webkit-scrollbar {
  width: 0px;
}

.wrapper.active .info-text {
  display: none;
}
.wrapper .unlist {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.wrapper header {
  font-size: 28px;
  font-weight: 500px;
  text-align: center;
}
.wrapper .search {
  position: relative;
  margin: 35px 0 20px;
}

.search input {
  height: 53px;
  width: 100%;
  font-size: 18px;
  padding: 0 40px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.search input::placeholder {
  color: bisque;
}
.search input:focus {
  padding: 0 41px;
  border: 2px solid rgb(61, 100, 225);
}

/* .search:where(i, span) {
  position: absolute;
  top: 50%;
  color: gray;
  transform: translateY(-50%);
} */
.search i {
  position: absolute;
  top: 34%;
  font-size: 16px;
  left: 18px;
  pointer-events: none;
}
.search span {
  position: absolute;
  top: 34%;
  font-size: 18px;
  right: 15px;
  cursor: pointer;
  display: none;
}
.search input:valid ~ span {
  display: block;
}

.info-text {
  font-size: 13px;
  margin: -3px 0 -10px;
  color: gray;
}
.unlist li {
  display: flex;
  margin-bottom: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: center;
}
.unlist li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.word i {
  cursor: pointer;
  color: grey;
}
.word p {
  font-size: 22px;
  font-weight: 500;
}
.word span {
  font-size: 12px;
  color: darkgray;
}
.content li .detials {
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  border-left: 3px solid gray;
}
.content li .detials p {
  font-size: 17px;
  font-weight: 500;
}
.content li .detials span {
  font-size: 17px;
  color: gray;
}
.synonmys .detials .list {
  display: flex;
  flex-wrap: wrap;
}
.synonmys .detials .list span {
  margin-right: 5px;
  text-decoration: underline;
  cursor: pointer;
}
